<div class="panel">
  <!-- Default panel contents -->
  <div class="panel-heading"><h2><u>Contacts</u></h2></div>

  <!-- List group -->
  <ul class="list-group">
	<% @contacts.each do |contact| %>
    <li class="list-group-item"><%= link_to contact.name, contact_path(contact.id) %></li>
    <% end %>
  </ul>
  </div>