<div class="panel2">
  <!-- Default panel contents -->
  <div class="panel-heading contact_heading"><h2><u>Contacts</u></h2></div>

  <!-- List group -->
  <ul class="list-group">
	<% @contacts.each do |contact| %>
	<% company = %>
    <li class="list-group-item reminders-list"><b><%= "#{contact.name} #{contact.company if contact.company != nil } %></b></li>
    <% end %>
  </ul>
  </div>