
<h2>Upcoming Reminders:</h2>



<ol>
	<% @user.reminders.order(:date).each do |reminder| %>
	<li><%= "#{Contact.find(reminder.contact_id).name}: #{reminder.date.strftime("%a, %B %d, %Y")}"  %></li>
	<% end %>
</ol>