<!-- TODO: make the headers not scroll with the options -->
<div class="panel panel-default reminder-panel">
  <!-- Default panel contents -->
  <div class="panel-heading reminders_heading"><h2>Upcoming Reminders</h2></div>

  <!-- List group -->
  <ul class="list-group">
  <% @user.reminders.order(:date).each do |reminder| %>
    <li class="list-group-item reminders-list"><b><%= "#{Contact.find(reminder.contact_id).name} on #{reminder.date.strftime("%A, %B %e, %Y")}"  %></b></li>
    <% end %>
  </ul>
  </div>
</div>