<div class="panel panel-inverse">
  <!-- Default panel contents -->
  <div class="panel-heading panel-inverse"><h2>Upcoming Reminders:</h2></div>

  <!-- List group -->
  <ul class="list-group">
  <% @user.reminders.order(:date).each do |reminder| %>
    <li class="list-group-item"><%= "#{Contact.find(reminder.contact_id).name}: #{reminder.date.strftime("%a, %B %d, %Y")}"  %></li>
    <% end %>
  </ul>
</div>