<!-- <div class="container">
	<div class="row">
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-12">
					<h2>Left side top</h2>
					<h2>Left side top</h2>
					<h2>Left side top</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<h2>Left side bottom</h2>
					<h2>Left side bottom</h2>
					<h2>Left side bottom</h2>
					<h2>Left side bottom</h2>
					<h2>Left side bottom</h2>
					<h2>Left side bottom</h2>
					<h2>Left side bottom</h2>
					<h2>Left side bottom</h2>

				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<h1>Strong side</h1>
		</div>
	</div>
</div> -->


<div class="container">

</div>
		<div class="row">

			<div class="col-sm-6">
				<%= render :partial => '/users/contacts', :locals => {:contact => @contact} %>
				<button class="btn btn-inverse" type="button" data-toggle="collapse" data-target="#collapseform" aria-expanded="false" aria-controls="collapseform">
					Add Contact
				</button>
				<div class="collapse" id="collapseform">
					<div class="well">
						<%= render :partial => 'contacts/form', :locals => {:contact => @contact} %>
					</div>
				</div>

	
				<!-- puts "upcoming reminders" in same row -->
			</div>
			<div class="col-sm-6">
				<%= render :partial => '/users/reminders', :locals => {:contact => @contact} %>
			</div>
		</div>
</div>
