
<script src="dynamics.js"></script>
<div class="container">

</div>
		<div class="row">

			<div class="col-sm-4">
				<%= render :partial => '/users/contacts', :locals => {:contact => @contact} %>
				
				<!-- puts "upcoming reminders" in same row -->
			</div>
			<div class="col-sm-4 new-contact-button">

			<button class="btn btn-standard" type="button" data-toggle="collapse" data-target="#collapseform" aria-expanded="false" aria-controls="collapseform">
					<img src="<%=asset_path 'add_button.png'%>">
				</button>
				<div class="collapse" id="collapseform">
					<div class="well">
						<%= render :partial => 'contacts/form', :locals => {:contact => @contact} %>
					</div>
				</div>

				
			</div>
			<div class="col-sm-4">
				<%= render :partial => '/users/reminders', :locals => {:contact => @contact} %>
			</div>
		</div>
</div>
