
<div class="center">
	<div class="networker"> 
		[networker] 
	</div>
	<div class="suit_icon">
		<%= image_tag("networker_logo1.png", {alt: "rss feed"}) %>
	</div>
	<%= render file: "devise/sessions/new" %>
</div>


