<!DOCTYPE html>
<html>
<body>

<textarea rows="10" cols="75">
Dear <%=contact.name%>,

It was a pleasure meeting you, ***britt say something interesting stuff here that people will like***

Sincerely,
<%=contact.user.name%>
</textarea>

</body>
</html>
