<!DOCTYPE html>
<html>

<body>

<textarea class="email-template" rows="10" id='fe_text' cols="75"> 
Dear <%=contact.name%>,

It's been a while since we last talked, and I just wanted to check in to see how **INSERT PERSONAL INFO HERE** is going.

*** USE YOUR NOTES TO ASK THIS CONTACT ABOUT THEIR LIFE ***

Can't wait to hear from you again!

Best regards,
<%=contact.user.name%>
</textarea><br/>
<button class='my_clip_button' data-clipboard-target='fe_text' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button' title='Click me to copy to clipboard.'>
    Copy To Clipboard...
  </button>
<a href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank"><button>Send Email</button></a>

</body>

<script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button"))
  });

  $("#clear-test").on("click", function(){
    $("#fe_text").val("Copy me!");
    $("#testarea").val("");
  });
</script>

</html>
