<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have a new reminder, <%= @contact.user.name %></h1>
    
    <p>You should email <%= @contact.name %>!</p>
  </body>
</html>