body {
	font-family: 'Open Sans', sans-serif;
}

.center {
	width: 270px;
	height: 365px;
	position: absolute;
	left: 50%;
	top: 50%; 
	margin-left: -150px;
	margin-top: -150px;

}
.email {
	text-align: center;
	padding: 10px;
}
.password {
	text-align: center;
}
.remember {
	text-align: center;
}

.actions {
	text-align: center;
	padding: 10px;
}
.links {
	text-align: center;
}
.networker {
	font-family: 'Crete Round', serif;
	text-align: center;
	font-size: 50px;
	padding: 1px; 
	line-height: 0.9;
}

.suit_icon {
	padding: 1;
	width: 255px;
	margin-right: auto;
	margin-left: auto;
}

	/* this centers the placeholder text */
	::-webkit-input-placeholder {
		text-align: center;
	}

	video#bgvid {
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		background: url(Rhatt.png) no-repeat;
		background-size: cover;
	}
