body {
	font-family: 'Open Sans', sans-serif;
	background-image: url("aaron_home.jpg");
	background-size: cover;

}

body.home-page {
	background: url("aaron_home.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}


body.contacts-bg {
	background: url("handshake.jpg") no-repeat center center fixed; 
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.panel-header {
	border-radius: 2px;
	/*background-color: rgba(255, 255, 255, 1);*/
}
.navbar {
  border-radius: 0;
}
.btn {
	display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0 auto;
  margin-bottom: 0 auto;
}
.navbar-inverse .navbar-text {
  color: #FFFFFF;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.navbar-inverse .navbar-nav > li > a {
  color: #FFFFFF;
}
.navbar-text {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 24px;
  font-family: 'Crete Round';
  color: #FFFFFF; 	
}
.new-contact-button {
	margin: 0 auto;
}
.reminders-list {
	text-align: left;
	background-color: rgba(255, 255, 255, 0);
	border: 0;
}
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.25);
  border: 0;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.contacts-list {
	text-align: right;
	background-color: rgba(255, 255, 255, 0);
	border: 0;
}
.list-group {
	/*background-color: rgba(255, 255, 255, 0);*/
}
.reminders_heading {
text-align: right;
}
.contact_heading {
text-align: left;	
}
.business_card {
  width: 572px;
  height: 333px;
  position: absolute;
  left: 46%;
  top: 64%;
  margin-left: -150px;
  margin-top: -150px;
  z-index: 1;
  -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
}
.center {
	width: 270px;
	height: 270px;
	position: absolute;
	left: 52%;
  	top: 46%;
	margin-left: -150px;
	margin-top: -150px;

}
.panel-heading {
    u {
    text-decoration: none;
    border-bottom: 1px solid black;
    }
}
.email {
	text-align: center;
	padding: 10px;
}
.password {
	text-align: center;
}
.remember {
	text-align: center;
}

.actions {
	text-align: center;
	padding: 10px;
}
.links {
	text-align: center;
}
.networker {
	font-family: 'Crete Round', serif;
	text-align: center;
	font-size: 34px;
	padding: 1px; 
	line-height: 0.9;
	color: #FFFFFF
}

.suit_icon {
	padding: 1;
	margin-right: auto;
	margin-left: auto;
	img {
		display: block;
		margin: 0 auto;
	}
}

	/* this centers the placeholder text */
	::-webkit-input-placeholder {
		text-align: center;
	}

	video#bgvid {
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		background: url(Rhatt.png) no-repeat;
		background-size: cover;
	}

